# Googling how to do something is NOT cheating. 
# Googling how to do figure something out is ENCOURAGED.

## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [5]:
import datetime

current_time = datetime.datetime.now()

formmated_time = current_time.strftime("%Y-%m-%d %H:%M:%S")

print(formmated_time)

2023-08-10 17:13:22

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [7]:
import math

def get_circle_area(radius):
    return math.pi * (radius**2)

print(get_circle_area(2))

12.566370614359172

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [8]:
def check_duplicate(input_list):
    input_set = set(input_list)
    if len(input_set) == len(input_list):
        return True
    return False
list1 = [2, 4, 5, 5, 7, 9]
print(check_duplicate(list1))

False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [12]:
filepath = "./Data/lil-wayne.txt"
file_handle = open(file=filepath)
data = file_handle.read()
file_handle.close()
dic = {}
data = data.upper()

for c in data:
    if c not in dic:
        dic.update({c:1})
    else:
        dic[c] += 1
print(dic)

{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '—': 1}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [25]:
dic_sorted = dict(sorted(dic.items() ,key = lambda item:item[1], reverse=True))
print(dic_sorted)

{' ': 522, 'E': 274, 'A': 211, 'I': 185, 'T': 180, 'N': 165, 'R': 152, 'S': 152, 'O': 145, 'L': 126, 'H': 122, 'M': 77, 'D': 74, 'U': 66, 'W': 63, 'C': 60, 'B': 59, 'G': 53, 'Y': 44, 'F': 44, 'P': 39, ',': 37, '0': 36, '1': 28, '.': 26, '2': 24, 'V': 20, '9': 16, '[': 14, ']': 14, 'K': 13, '(': 12, ')': 12, 'J': 8, '7': 7, '8': 6, '\n': 6, '-': 6, 'X': 5, '5': 5, '4': 4, '6': 3, '3': 2, ';': 1, '!': 1, '—': 1}

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [27]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]
removed_num = list1.pop(4)
list1.append(removed_num * list1[len(list1)-1])
print(list1)

[1, 1, 2, 3, 8, 13, 21, 105]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [29]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
new_list = []
for e in original_list:
    if e % 3 == 0:
        new_list.append(e)
print(new_list)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [30]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
new_list = original_list[::-1]
print(new_list)

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [32]:
original_list = [1, 2, 3, 4, 5, 6, 7]
new_list = []

for e in original_list:
    new_list.append(e**2)
    
print(new_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [34]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for i in range(len(list1)):
    print(list1[i],list2[len(list2)-1-i])

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [39]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']
new_string_list = [string for string in list_of_strings if string]
print(new_string_list)

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [48]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}
exist = 0
for k in sample_dict:
    if sample_dict[k] == 999:
        exist =1
print("True" if exist else "False")

True

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [50]:
import pandas as pd

df = pd.read_csv("./Data/titanic.csv")
print(df)

     passengerid  survived  pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  name     sex   age  sibsp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     parch            ticket     fare cabin embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [53]:
print(df["age"].mean())

29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [57]:
print(df["age"].max())
print(df["age"].min())

80.0
0.42

## How many people embarked from station 'S'?

In [68]:
count = 0
for e in df["embarked"]:
    if e == "S":
        count += 1
print(count)

644